*{
    margin:0;
    padding: 0;
}
root{
 --bg-color: red;
 --second-bg-color: red;
 --text-color: white;
 
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color) ;
}